<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{% endblock %}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Trade Tracker</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="recentTradesDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Recent Trades
              </a>
              <ul class="dropdown-menu" aria-labelledby="recentTradesDropdown">
                <li>
                  <a class="dropdown-item" href="/recent_trades/5">5 Days</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/recent_trades/10">10 Days</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/recent_trades/30">30 Days</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/recent_trades/90">90 Days</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/recent_trades/120"
                    >120 Days</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/recent_trades/365"
                    >365 Days</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/trade_stats_summary"
                >Summary of Trades</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container mt-5">{% block content %}{% endblock %}</div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>

    {% if request.endpoint in ['view_transaction', 'open_positions_symbol' ]%}
    <script>
      $(document).ready(function() {
        // Fetch live stock data
        $.ajax({
          url: '/get_stock_data/{{ transaction.symbol }}',
          method: 'GET',
          success: function(data) {
            // Call function to update transaction details
            updateTransactionDetails(data);
          },
          error: function(error) {
            console.error("Error fetching stock data:", error);
          },
        });
      });

      function roundTo(num, decimalPlaces = 0) {
        return Number.parseFloat(num).toFixed(decimalPlaces);
      }

      function updateTransactionDetails(data) {
        const currentPrice = data.currentPrice;
        const transactionPrice = {{ transaction.price }};
        const transactionAmount = {{ transaction.amount }};
        const currentAmount = {{ transaction.quantity }} * currentPrice;


        // Update live stock data
        $('#currentPrice').text(currentPrice);
        $('#currentAmount').text(currentAmount.toFixed(2));

        // Calculate and update price difference
        const priceDifference = currentPrice - transactionPrice;
        const pricePercentDifference = (priceDifference / transactionPrice) * 100;
        $('#priceDifference').text(priceDifference.toFixed(2));
        $('#pricePercentDifference').text(pricePercentDifference.toFixed(2) + '%');

        // Calculate and update amount difference
        const amountDifference = currentAmount - Math.abs(transactionAmount);
        const amountPercentDifference = (amountDifference / Math.abs(transactionAmount)) * 100;
        $('#amountDifference').text(amountDifference.toFixed(2));
        $('#amountPercentDifference').text(amountPercentDifference.toFixed(2) + '%');

        // Apply color based on comparison
        const priceColor = currentPrice >= transactionPrice ? 'darkgreen' : 'darkred';
        $('#currentPrice').css('color', priceColor);
        $('#priceDifference').css('color', priceColor);
        $('#pricePercentDifference').css('color', priceColor);

        const amountColor = currentAmount >= Math.abs(transactionAmount) ? 'darkgreen' : 'darkred';
        $('#currentAmount').css('color', amountColor);
        $('#amountDifference').css('color', amountColor);
        $('#amountPercentDifference').css('color', amountColor);

        $("#shortName").text(data.shortName);
        $("#regularMarketOpen").text(data.regularMarketOpen);
        $("#regularMarketDayLow").text(data.regularMarketDayLow);
        $("#regularMarketDayHigh").text(data.regularMarketDayHigh);
        $("#regularMarketVolume").text(data.regularMarketVolume);
        $("#averageVolume").text(data.averageVolume);
      }

    </script>

    {% endif %}
  </body>
</html>
