{% extends "base.html" %}

{% block title %}Trade Details for {{ stock_symbol }}{% endblock title %}

{% block content %}
    <h1>Open Trades for {{ stock_symbol }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Bought Qty</th>
                <th>Bought Amount</th>
                <th>Sold Qty</th>
                <th>Sold Amount</th>
                <th>Open Qty</th>
                <th>Open Amount</th>
                <th>Profit/Loss</th>
                <th>% Profit/Loss</th>
            </tr>
        </thead>
        <tbody>
            {% set position_data = open_position_data[stock_symbol] %}
            {# These namespace variables are used in the jquery_base.html template #}
            {% set trade = namespace() %}
            {% set trade.total_profit_loss = 0 %}
            {# These namespace variables are used in the jquery_base.html template #}
            {% set trade.transaction_price = trade.price %}
            {% set trade.transaction_quantity = trade.quantity %}
            {% set trade.transaction_amount = trade.amount %}

                {% if position_data %} 
                <tr></tr>
                    <td>
                      <a href="/trades/{{ stock_symbol }}">{{ stock_symbol }}</a> 
                    </td>
                    <td>{{ position_data.bought_quantity|round(1) }}</td>
                    <td>{{ position_data.bought_amount|round(2) }}</td>
                    <td>{{ position_data.sold_quantity|round(1) }}</td>
                    <td>{{ position_data.sold_amount|round(2) }}</td>
                    <td>{{ position_data.open_bought_quantity|round(1) }}</td>
                    <td>{{ position_data.open_bought_amount|round(2) }}</td>
                    <td>{{ "${:,.2f}".format(position_data.profit_loss)}}</td>
                    <td>{{ position_data.percent_profit_loss|round(2) }}%</td>
                    <!-- "symbol": symbol, -->
                    <!-- "closed_bought_quantity": 0, -->
                    <!-- "closed_bought_amount": 0, -->
                    <!-- "open_trades": [], -->
                </tr>
                {% endif %} 

                {% if position_data.open_trades %} 
                    <tr></tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>All Open {{stock_symbol}} Trades</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                {% endif %} 

                {% for trade in position_data.open_trades if position_data.open_trades %} 
                    <tr>
                        <th></th>
                        <th>Bought Date</th>
                        <th>Qty</th>
                        <th>Price</th>
                        <th>Amount</th>
                        <th>Sold Qty</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td></td>
                        <td>{{ trade.trade_date.strftime('%Y-%m-%d') }}</td>
                        <td>{{ trade.quantity|round(1) }}</td>
                        <td>{{ trade.price|round(2) }}</td>
                        <td>{{ trade.amount|round(2) }}</td>
                        <td>{{ trade.current_sold_qty|round(2) }}</td>
                        <td>
                          <a href="/transaction/{{ trade.trade_id }}">View This Trade</a> 
                        </td>
                        <td></td>
                    </tr>
                        {% if trade.sells %} 
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>{{stock_symbol}}</th>
                            <th>{{ trade.trade_date.strftime('%Y-%m-%d')}}</th>
                            <th>Sells</th>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Sold Date</th>
                            <th>Sold Qty</th>
                            <th>Sold Price</th>
                            <th>Sold Amount</th>
                            <th>P/L</th>
                            <th>% P/L</th>
                            <th></th>
                        </tr>
                        {% endif %} 
                        {% for sell in trade.sells if trade.sells %} 
                    <tr>
                        <td></td>
                        <td></td>
                        <td>{{ sell.trade_date.strftime('%Y-%m-%d') }}</td>
                        <td>{{ sell.quantity|round(1) }}</td>
                        <td>{{ sell.price|round(2) }}</td>
                        <td>{{ sell.amount|round(2) }}</td>
                        <td>{{ "${:,.2f}".format(sell.profit_loss)}}</td>
                        <td>{{ sell.percent_profit_loss|round(2)}}%</td>
                        <th></th>
                    </tr>
                    {% endfor %}
                        </tr>
                    {% endfor %}

                {# set stats.total_profit_loss = stats.total_profit_loss + trade.profit_loss #}

                {# 
            <tr>
                <td colspan="5"></td> 
                <td><strong>Total Profit/Loss:</strong></td>
                <td>{{ "${:,.2f}".format(trade.profit_loss)}}</td>
            </tr>
            <tr>
                <td colspan="5"></td> 
                <td><strong>% Profit/Loss:</strong></td>
                <td>{{ trade.percent_profit_loss|round(2) }}%</td>
            </tr>
                #}
            {# endfor #}
        </tbody>
    </table>

{% endblock  content %}
