{% extends "base.html" %} {% block title %}Recent Trades ({{ days }} Days){%
endblock %} {% block content %}
<h1>Recent Trades ({{ days }} Days)</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Name</th>
      <th>Action</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Fees</th>
      <th>Trade Date</th>
      <th>Amount</th>
      <th>Stop@</th>
      <th>Sell@</th>
      <th>P/L</th>
      <th>Reason</th>
      <th>Update</th>
    </tr>
  </thead>
  <tbody>
    {% for transaction, security_name in transactions %}
    <tr>
      <td>
        <a href="/trades/{{ transaction.symbol }}">{{ transaction.symbol }}</a> 
      </td>
      <td>{{ security_name }}</td>
      <td>{{ transaction.action }}</td>
      <td>{{ transaction.quantity }}</td>
      <td>{{ transaction.price }}</td>
      <td>{{ transaction.fees }}</td>
      <td>{{ transaction.trade_date.strftime('%Y-%m-%d') }}</td>
      <td>{{ transaction.amount }}</td>
      <td>{{ transaction.initial_stop_price if transaction.initial_stop_price != 'None' }}</td>
      <td>{{ transaction.projected_sell_price if transaction.projected_sell_price != 'None' }}</td>
      <td>{{ transaction.pl if transaction.pl  else ''}}</td>
      <td>{{ transaction.reason if transaction.reason }}</td>
      <td>
        <a href="/transaction/{{ transaction.id }}">Update</a> 
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
