{% extends "base.html" %}

{% block title %}Transaction Detail{% endblock %}

{% block content %}

<div class="container">

  <h1>Manage Trade for {{ transaction.symbol }}</h1>

  <div class="row">
    <div class="col-md-12">
      <div class="d-flex flex-column mb-3">
        <label class="fw-bold">Symbol:</label> 
        <span><a href="/trades/{{ transaction.symbol }}">{{ transaction.symbol }}</a></span>
      </div>
      <div class="d-flex flex-column mb-3">
        <label class="fw-bold">Action:</label> 
        <span>{{ transaction.action }}</span>
      </div>
      <div class="d-flex flex-column mb-3">
        <label class="fw-bold">Quantity:</label> 
        <span>{{ transaction.quantity }}</span>
      </div>
      <!-- Trade Date, Stop, Sell, Reason Row -->
      <div class="d-flex flex-row mb-3">
        <div class="p-2">
          <label class="fw-bold">Trade Date:</label> 
          <span>{{ transaction.trade_date.strftime('%Y-%m-%d') }}</span>
        </div>
        <div class="p-2">
          <label class="fw-bold">Stop@:</label> 
          <span>{{ transaction.initial_stop_price if transaction.initial_stop_price != 'None' }}</span>
        </div>
        <div class="p-2">
          <label class="fw-bold">Sell@:</label> 
          <span>{{ transaction.projected_sell_price if transaction.projected_sell_price != 'None' }}</span>
        </div>
        <div class="p-2">
          <label class="fw-bold">Reason for Buying:</label> 
          <span>{{ transaction.reason if transaction.reason }}</span>
        </div>
      </div>
      <!-- Price Data Row -->
      <div class="d-flex flex-row mb-3">
        <div class="p-2">
          <label class="fw-bold">Price:</label> 
          <span>{{ transaction.price }}</span>
        </div>
        <div class="p-2">
          <label class="fw-bold">Current Price:</label> 
          <span id="currentPrice"></span>
        </div>
        <div class="p-2">
          <label class="fw-bold">Price Difference:</label> 
          <span id="priceDifference"></span>
        </div>
        <div class="p-2">
          <label class="fw-bold">Price % Difference:</label> 
          <span id="pricePercentDifference"></span>
        </div>
      </div>
      <!-- Amount Data Row -->
      <div class="d-flex flex-row mb-3">
        <div class="p-2">
          <label class="fw-bold">Amount:</label> 
          <span>{{ transaction.amount }}</span>
        </div>
        <div class="p-2">
          <label class="fw-bold">Current Amount:</label> 
          <span id="currentAmount"></span>
        </div>
        <div class="p-2">
          <label class="fw-bold">Amount Difference:</label> 
          <span id="amountDifference"></span>
        </div>
        <div class="p-2">
          <label class="fw-bold">Amount % Difference:</label> 
          <span id="amountPercentDifference"></span>
        </div>
      </div>
      <!-- Volume Data Row -->
      <div class="d-flex flex-row mb-3">
        <div class="p-2">
          <label class="fw-bold">Volume:</label> 
          <span id="regularMarketVolume">-</span>
        </div>
        <div class="p-2">
          <label class="fw-bold">Average Volume:</label> 
          <span id="averageVolume">-</span>
        </div>
        <div class="p-2">
          <label class="fw-bold">Market Open:</label> 
          <span id="regularMarketOpen">-</span>
        </div>
        <div class="p-2">
          <label class="fw-bold">Day Low:</label> 
          <span id="regularMarketDayLow">-</span>
        </div>
        <div class="p-2">
          <label class="fw-bold">Day High:</label> 
          <span id="regularMarketDayHigh">-</span>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

